body {
  min-height: 100vh;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  color: black;
  margin: 0;
}

.Web-site {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #1f2937;
  font-family: Arial, Helvetica, sans-serif;
  color: #f9faf8;
  width: 100%;
  height: 8vh;
}
.header-left {
  font-size: 24px;
  font-weight: bold;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
  margin: 1rem;
}

.container-1 {
  display: flex;
  height: 55vh;
  width: 100%;
  background-color: #1f2937;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.container-1 .title {
  display: flex;
  flex-direction: column;

  color: #f9faf8;
  height: 60%;
  width: 36%;
}
.container-1 h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

.container-1 .title p {
  margin: 0;
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}

.container-1 button {
  background-color: #3882f6;
  font-size: 18px;
  font-weight: bold;
  height: 2.5rem;
  width: 7.5rem;
  color: #f9faf8;
  border-radius: 7px;
  border: #3882f6;
}

.container-1 .block-img {
  display: flex;
  color: #e5e7eb;
  height: 60%;
  width: 36%;
  font-size: 18px;
  background-color: #6d747d;
  align-items: center;
  justify-content: center;
}

.card_img {
  width: 100%;
  height: 100%;
}

.container-2 {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 100%;
  padding-top: 2rem;
}

.container-2 h1 {
  text-align: center;
  color: #1f2937;
  font-weight: bold;
}

.container-cards {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  gap: 2rem;
  margin-top: 1.5rem;
}

.container-cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 11%;
}

.box {
  height: 40%;
  width: 100%;
  border: 4px solid #3882f6;
  border-radius: 10px;
}

.card_img2 {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
.container-2 p {
  color: #4b5563;
  font-size: 18px;
}

.container-3 {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #e4e7eb;
}

.container-3 .content {
  display: flex;
  flex-direction: column;
  height: 25%;
  width: 50%;
}

.container-3 h1 {
  font-family: initial;
  margin: 0;
}

.container-3 p {
  font-family: initial;
  font-size: 24px;
  font-weight: bold;
  margin-left: auto;
}

.container-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 100%;
}

.container-4 .container-botton {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 45%;
  width: 70%;
  background-color: #3882f6;
  border-radius: 7px;
}

.text {
  height: 50%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.container-4 h2 {
  margin: 0;
}

.container-4 p {
  margin: 0;
  font-size: 18px;
}

.container-botton button {
  height: 30%;
  width: 15%;
  background-color: #3882f6;
  color: white;
  font-size: 18px;
  font-weight: bold;
  height: 2.5rem;
  width: 7.5rem;
  border-radius: 7px;
  border: 2px solid white;
}

.footer {
  display: flex;
  flex-direction: column;
  height: 10vh;
  width: 100%;
  background-color: #1f2937;
  color: white;
  font-size: 18px;
  text-align: center;
  justify-content: center;
}
